.goBack {
  width: 100vw;
  height: 7rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  background-color: darkslategray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
  width: 6rem;
  height: 100%;
  background-color: #2e3131;
  border-radius: 0px 10px 10px 0px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#icon {
  width: 2rem;
  height: 2rem;
  color: white;
}

#icon:hover {
  cursor: pointer;
  color: lightgoldenrodyellow;
}
