
.search {
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input{
  width: 30vw;
  height: 4vh;
  border-radius: 10px;
  background-color: antiquewhite;
}


.movie-list{
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.movie-list ul{
  background: antiquewhite;
  border: 1px solid antiquewhite;
  border-radius: 20px;
  margin: 0.1rem;
}

.movie-list ul:hover {
transform: scale(1.1); 
background-color:brown;
}

.movie-list ul img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.movie-list ul p {
  border: 1vw;
  text-align: center;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movie-list ul:hover p {
 color:yellow;
}

.pages {
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 20px;
}

.pages button {
  padding: 18px;
  border-radius: 5px;
  border: 0;
  background:brown;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.pages button:hover {
  opacity: 0.8;
}

.pages button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.pages button[disabled]:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 840px) {
  .movie-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  .movie-list ul p {
    font-size: 100%;
  }
}