.details {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.close{
  margin: 0.2rem;
  width: 95vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  opacity: 0.3;
}

#close:hover{
  animation: rotate365 1s linear infinite;
  cursor: pointer;
  opacity: 1;
}


@keyframes rotate365 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}

@media only screen and (max-width: 1200px) {


}


@media only screen and (max-width: 900px) {

  
}

@media only screen and (max-width: 600px) {
 
}