.slide-show {
  height: 85vh;
  overflow-x: auto;
}

.slides-list {
  position: relative;
  width: 1850px;
  top: 25px;
  left: calc(50% - 925px);
  display: flex;
}

.slide {
  display: flex;
  width: 250px;
  transition: 0.4s ease-out;
  left: 0px;
  padding-bottom: 1rem;

}

.slide:not(:first-child) {
  margin-left: -30px;
}

.slide:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  cursor: pointer;
}

.slide:hover ~ .slide {
  transform: translateX(280px);
  transition: 0.4s ease-out;
}

.slide img {
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
}
