.slideshow {
  height: 37vh;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.slideshow::before,
.slideshow::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 37vh;
  position: absolute;
  width: 100px;
  z-index: 1;
}

.slideshow::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slideshow::before {
  left: 0;
  top: 0;
}

.container {
  position: relative;
  width: calc(150px * 40);
  top: 20px;
  display: flex;
  animation: slider 30s linear infinite;
}

.container:hover {
  animation-play-state: paused;
}

.slide {
  display: flex;
  width: 170px;
  height: 34vh;
  transition: 0.4s ease-out;
  float: left;
  padding-bottom: 1rem;
}

.slide:not(:first-child) {
  margin-left: -20px;
}

.slide:hover {
  transform: translateY(-15px);
  transition: 0.4s ease-out;
  cursor: pointer;
}

.slide:hover ~ .slide {
  transform: translateX(50px);
  transition: 0.4s ease-out;
}

.slide img {
  border-radius: 20px;
  height: 100%;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 20));
  }
}


@media only screen and (max-width: 900px) {
  
  .slideshow::before,
  .slideshow::after {
    width: 60px;
  }
}

@media only screen and (max-width: 600px) {

  .slideshow::before,
  .slideshow::after {
    width: 30px;
  }

  .container{
    animation: slider 60s linear infinite;

  }
}
