
#main-header{
    width: 100vw;
    height: 80px;
    background:brown;
    display: flex;
    justify-content: center;
    align-items: center ;
    }
    
    #main-header h1 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 3ch;   
    }