#main-detail{
  height: 80vh;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;

}

.detail img {
  border-radius: 20px;
  height: 80vh;
  position: relative;
  top: 10%;
}


.detail iframe {
  border-radius: 20px ;
  height: 60vh;
  position: relative;
  top: 20%;
}

.detail #about{
  height: 40vh;
  position: relative;
  top: 30%;
  border-radius: 20px ;
  background-color:whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail #about p strong{
 font-family: 'Times New Roman', Times, serif;
 color:brown;
 font-weight: bold;
 font-size: 2ch;
}

#main-header{
  width: 100vw;
  height: 80px;
  background:brown;
  display: flex;
  justify-content: center;
  align-items: center ;
  }
  
  #main-header p {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 3ch;   
  }