#main-detail{
  height: 100vh;
  padding: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;

}

.detail img {
  border-radius: 20px;
}


.detail iframe {
  border-radius: 20px ;
  height: 50vh;
  position: relative;
  top: 10%;
}

.detail #about{
  height: 30vh;
  position: relative;
  top: 20%;
  border-radius: 20px ;
  background-color:whitesmoke;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail #about p strong{
 font-family: 'Times New Roman', Times, serif;
 color:brown;
}

#main-header{
  width: 100vw;
  height: 80px;
  background:brown;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center ;
  border: red;
  }
  
  #main-header h1 {
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;   
  }