*  {
margin: 0;
padding: 0;
outline: 0;
text-decoration: none;
}

body{
font-family: 'Courier New', Courier, monospace;
/*background-image: url('./assets/img/559117.png');*/
background-color: #566573;
}
